:root {
  --bg-color: #f5f5f7;
  --accent-disabled: #86c6ff;
  --accent-hover: #00529b;
  --accent-default: #0075de;
  --normal-hover: #828282;
  --normal-default: #e0e0e0;
  --delete: #ffeeec;
  --delete-border-color: #ff4343;
  --drag: rgba(255, 255, 255, 0.8);
  --place-opacity: 0.4;
  --place-boder-color: #0075de;
  --caption-text-color: #bdbdbd;
  --drag-bg-color: rgba(255, 255, 255, 0.8);
  --title-text: 32px;
  --column-title-text: 18px;
  --card-title-text: 16px;
  --card-body-text: 14px;
  --card-caption-text: 12px;
  --action-body-text: 16px;
  --action-time-stamp-text: 14px;
  --user-name-text: 16px;
  --user-img: 40px;

  --button-text: 14px;

  --alert-text: 18px;

  --content-margin: 8px;

  --title-line-height: 23px;
  --body-line-height: 20px;
}

html {
  height: 100%;
  background-color: var(--bg-color);
}

body {
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  padding: 0 80px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.page-title {
  font-size: var(--title-text);
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  align-items: center;
}

.todo-list-wrapper {
  display: flex;
}

/* column */
.column {
  width: 350px;
  margin-left: 16px;
}
.column:first-child {
  margin-left: 0px;
}

.column > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.column .title {
  font-size: var(--column-title-text);
  display: flex;
  align-items: center;
}

.column .badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: 8px;
  gap: 10px;

  width: 26px;
  height: 26px;

  /* Gray 4 */

  background: #bdbdbd;
  border-radius: 20px;
}

.column .btn-plus-icon svg {
  width: 10.75px;
  height: 10.75px;
}

.column .btn-plus-icon:hover path {
  fill: var(--accent-default);
}

.column .btn-delete-icon:hover path {
  fill: var(--delete-border-color);
}

.column .btn-delete-icon svg {
  width: 10.5px;
  height: 10.5px;
}

/* Card */

.card-wrapper {
  min-height: 100%;
}

.card {
  user-select: none;
  margin-top: calc(2 * var(--content-margin));
  background-color: white;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0px 1px 30px rgba(224, 224, 224, 0.3);
}

.card .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .title {
  line-height: var(--title-line-height);
  font-size: var(--card-title-text);
  font-weight: 700;
}

.card .body {
  margin-top: var(--content-margin);
  font-size: var(--card-body-text);
  line-height: var(--body-line-height);
}
.card .caption {
  margin-top: var(--content-margin);
  font-size: var(--card-caption-text);
  color: var(--caption-text-color);
}

.card.delete {
  background-color: var(--delete);
  border: 1px solid var(--delete-border-color);
}

.card.delete .btn-delete-icon path {
  fill: var(--delete-border-color);
}
.card.drag {
  background-color: var(--drag-bg-color);
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
}
.card.place {
  opacity: 0.4;
  border: 1px solid var(--place-boder-color);
}

.card.active {
  border: 1px solid var(--accent-default);
}

.card.deactive {
  color: var(--normal-hover);
  border: 1px solid var(--accent-default);
}

.card .btn-wrapper {
  margin-top: var(--content-margin);
  font-size: var(--card-body-text);
  display: flex;
}

.card .btn:first-child {
  margin-right: 8px;
}

.card .btn:last-child {
  margin-right: 0px;
}

.card .btn {
  padding: 10px;
  width: 50%;
  border-radius: 6px;
}

.btn.normal {
  background-color: var(--normal-default);
  color: var(--normal-hover);
}

.btn.accent {
  background-color: var(--accent-default);
  color: white;
}

.card.deactive .btn.accent {
  background-color: var(--accent-disabled);
  color: rgba(255, 255, 255, 0.4);
}

.card.deactive .btn.normal {
  background-color: var(--);
}

.card.active input {
  width: 100%;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: var(--card-title-text);
}

.card.active textarea {
  font-size: var(--card-body-text);
  resize: none;
  width: 100%;
  max-height: 341px;
  overflow-y: visible;
  outline: none;
  border: none;
}
/* drawer */
.drawer {
  position: absolute;
  right: 0;
  top: 0;
  width: 452px;
  overflow-y: scroll;
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  padding: 60px 80px 60px 40px;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}

.drawer > .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 32px;
}

.open {
  transform: translateX(0%);
}

/* History */
.history {
  font-size: var(--action-body-text);
}

.action-item {
  padding: 16px;
  display: flex;
}

.action-item .header {
  font-weight: 400;
}

.action-item .body {
  margin-top: var(--content-margin);
  line-height: 23px;
}

.action-item .body strong {
  font-weight: 700;
}

.action-item .time-stamp {
  margin-top: var(--content-margin);
  font-size: var(--action-time-stamp-text);
  color: var(--caption-text-color);
}

.action-item .profile {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

/* FAB */
.fab {
  position: fixed;
  right: 40px;
  bottom: 30px;
  cursor: pointer;
}

.fab svg {
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background-color: white;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5),
    0px 2px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 6px;
  width: 400px;
  height: 138px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal .btn-wrapper {
  margin-top: var(--content-margin);
  font-size: var(--card-body-text);
  display: flex;
}

.modal .btn:first-child {
  margin-right: 8px;
}

.modal .btn:last-child {
  margin-right: 0px;
}

.modal .btn {
  padding: 10px;
  width: 50%;
  border-radius: 6px;
}

.grab-card {
  top: 0;
  left: 0;
  position: absolute;
  width: 350px;
  transition: ease-in transform;
}
