* {
    box-sizing: border-box;
}

html {
    --color-Title_Active: #1e2222;
    --color-Body: #626666;
    --color-Label: #8d9393;
    --color-Placeholder: #c1c5c5;
    --color-Line: #ccd3d3;
    --color-Background: #f5f5f5;
    --color-Off_White: #fcfcfc;
    --color-Primary: #2ac1bc;
    --color-Primary_2: #a0e1e0;
    --color-Error: #f45452;
}

@font-face {
    font-family: "BMDOHYEON";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.text_display_large {
    font-family: "BMDOHYEON";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}
.text_display_small {
    font-family: "BMDOHYEON";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.text_body_regular {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.text_body_medium {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.text_body_large {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}

.text_bold_small {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.text_bold_medium {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.text_bold_large {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
