{
    "parser": "@babel/eslint-parser",
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "rules": {
        "prefer-template": "error",
        "no-unused-vars": ["error", { "args": "none" }],
        "semi": 2,
        "curly": "error"
    }
}
