extends layout

block content
  div(class="flex-1")
    header(class=" mo-header")
      a(href="/", class="close-btn flex-center items-center" ,role="button" )
        img(src="/images/close.svg" , class="close-btn" alt="", srcset="")
      h1.title= title 
      div(href="/", class="close-btn" ,role="layout" )
      
    form(class="flex-col px-content submit-form" )
      div(class="input-container")
        input(class="w-full user-input", name="id",type="text" placeholder="아이디 또는 이메일")
      p(class="error-msg .js-id-empty-msg") 아이디를 입력해주세요
      div(class="input-container")
        input(class="w-full user-input",name="password", type="password", placeholder="비밀번호")
      p(class="error-msg .js-id-empty-msg") 비밀번호를 입력해주세요
      button(class="submit-btn") 로그인
      
  footer(class="login-footer")
    p(class="info-text")  혹시, 배달의민족이 처음이신가요? 
      a(class="sign-up-navigation" href="/sign_up/agreement") 회원가입
  script(src="/scripts/signin.js" type="module") 
  


      
    
  
              

    
  