:root {
  --text-gray: rgba(100, 100, 100, 0.5);
  --border-gray: rgba(100, 100, 100, 0.5);
  --bg-main: rgb(93, 190, 187);
  --text-main: rgb(93, 190, 187);
  --text-gray: #999;
  --text-error: #ff3333;

  /* size */
  --content-padding: 20px;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.wrapper {
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  border: 0.5px solid black;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 18px;
  flex: 1;
  text-align: center;
}

.banner {
  padding: 20px 20px;
  background-color: beige;
  height: 150px;
  font-size: 18px;
}

.login-navigation-container {
  margin: 16px 0;
  height: 56px;
}

.user-input {
  padding: 8px 0;
  /* border-bottom: 0.5px solid var(--border-gray); */
}
.input-container:last-of-type {
  margin-top: 12px;
}
.input-container {
  border-bottom: 0.5px solid var(--border-gray);
}

.user-input::placeholder {
  color: var(--text-gray);
}

.close-btn {
  height: 14px;
  width: 14px;
}

.submit-btn {
  width: 100%;
  text-align: center;
  background-color: var(--bg-main);
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 0;
  font-size: 16px;
  margin-top: 24px;
}

.user-input:focus {
  border-bottom: 0.5px solid black;
}

.mo-header {
  padding: var(--content-padding);
  position: relative;
  display: flex;
  align-items: center;
}

.submit-form {
  margin-top: 70px;
}

.info-text {
}
.sign-up-navigation {
  text-decoration: none;
  color: var(--bg-main);
}

.login-footer {
  padding: var(--content-padding);
  font-size: 14px;
  text-align: center;
  color: rgba(100, 100, 100, 1);
}

.error-msg {
  visibility: hidden;
  font-size: 10px;
  color: var(--text-error);
  padding-top: 8px;
}
.error-input {
  border-bottom: 0.5px solid var(--text-error);
}

.agreement-form {
  padding-top: 24px;
  padding-bottom: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0px var(--content-padding);
  justify-content: space-between;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.info {
  font-size: 22px;
  margin: 20px 0 40px 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/checkbox-inactive.png");
}

.checkbox-container {
  height: 20px;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  flex: 1;
}
.select-all {
  font-weight: bold;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-image: url("/images/checkbox-inactive.png");
}
.checkbox-container input:checked ~ .checkmark {
  background-image: url("/images/checkbox-active.png");
}

.arrow {
  color: var(--text-gray);
}

.radio-container {
  height: 20px;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  flex: 1;
}
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/radio-inactive.png");
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-container input:checked ~ .radio-checkmark {
  background-image: url("/images/radio-active.png");
}

.select-container {
  margin-top: 12px;
}

.age-radio-container + .age-radio-container {
  margin-top: 12px;
}
.age-radio-container {
  position: relative;
  padding: 16px 0 16px 8px;
  border-radius: 4px;
  background-color: rgba(100, 100, 100, 0.1);
  height: 56px;
}

.age-image {
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
}

.line {
  height: 0.2px;
  background-color: var(--border-gray);
  margin: 0;
}
.age-radio-container span {
  font-size: 14px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.submit-btn[disabled] {
  background-color: rgba(100, 100, 100, 0.2);
}

.phone-form label div {
}

.phone-form {
  /* padding-top: 24px; */
  display: flex;
  flex-direction: column;
  margin: 0px var(--content-padding);
  color: var(--text-gray);
  font-size: 14px;
  /* justify-content: space-between; */
}

.phone-form input {
  color: black;
  width: 100%;
  border-bottom: var(--border-gray) solid 0.5px;
  padding: 8px 0;
}

.input-controller {
  position: relative;
  margin: 24px 0;
}

.input-controller + .input-controller {
  margin-bottom: 24px;
}
.certification-receiver {
  width: 100%;
  text-align: center;
  /* background-color: var(--bg-main); */
  border: 0.5px solid var(--border-gray);
  border-radius: 4px;
  padding: 10px 0;
  font-size: 16px;
  margin-top: 12px;
}

.resend-container {
  display: flex;
  padding: 0 var(--content-padding);
  justify-content: flex-end;
  font-size: 14px;
}

.resend {
  color: var(--text-main);
  display: inline;
  text-align: center;
}

.next-btn {
  font-size: 14px;
  color: var(--text-main);
}

.check-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 8px;
  right: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/images/check-inactive.png");
}
.x-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 8px;
  right: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  visibility: hidden;
  background-image: url("/images/close-circle.png");
}

.check-icon.active {
  background-image: url("/images/check-active.png");
}
.x-icon.active {
  visibility: visible;
}

.next-btn[disabled] {
  color: var(--text-gray);
}

.certification-receiver.active {
  background-color: var(--bg-main);
  color: white;
}

.left-arrow {
  height: 16px;
  width: 16px;
}

.duplicate-btn {
  height: 50%;
  margin-left: 8px;
  padding: 4px 16px;
  border-radius: 4px;
  border: solid 1px var(--border-gray);
}
.duplicate-btn.active {
  color: rgba(100, 100, 100, 0.2);
  border: solid 1px rgba(100, 100, 100, 0.2);
}
.email label {
  position: relative;
}

.email .x-icon {
  position: absolute;
  bottom: 8px;
  right: 0px;
}
.email .check-icon {
  position: absolute;
  bottom: 8px;
  right: 0px;
}

.user-form {
  /* padding-top: 24px; */
  display: flex;
  flex-direction: column;
  margin: 0px var(--content-padding);
  color: var(--text-gray);
  font-size: 14px;
  /* justify-content: space-between; */
}
.input-controller.has-error-message {
  margin-bottom: 0px;
}
.error-msg.active {
  visibility: visible;
}
