/* layout */

.content-padding {
  padding: 0 20px;
}

.text-right {
  text-align: right;
}

.p-2 {
  padding: 2px;
}

.px-4 {
  padding: 16px;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.items-end {
  align-items: flex-end;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

/* padding */
.px-content {
  padding-left: 20px;
  padding-right: 20px;
}

/* color */

.text-gray {
  color: #666;
}

.h-full {
  height: 100%;
}

/* font-size */
.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 24px;
}

/* border */
.border-b-gray {
  border-bottom: 0.5px solid rgba(100, 100, 100, 0.5);
}
